/*================== RESET CSS ==================*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(./image/background.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}
/*================== TO DO APP CSS ==================*/
.todo-app {
  width: 400px;
  height: auto;
  min-height: 400px;
  padding: 30px;
  background: transparent;
  border: 2px solid #e6b7eca1;
  border-radius: 10px;
  backdrop-filter: blur(15px);
}

.todo-app__heading {
  color: #eee;
  text-align: center;
  margin-bottom: 36px;
}

.todo-app__input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.todo-app__value {
  flex: 1;
  outline: none;
  padding: 10px 10px 10px 20px;
  background-color: transparent;
  border: 2px solid #e6b7eca1;
  border-radius: 30px;
  color: #eee;
  font-size: 16px;
  margin-right: 10px;
}

.todo-app__value::placeholder {
  color: #bfbfbf;
}

.todo-app__btn {
  border: none;
  outline: none;
  background: #e6b7eca1;
  color: #fff;
  font-size: 35px;
  cursor: pointer;
  border-radius: 40px;
  width: 40px;
  height: 40px;
}

.todo-app__empty {
  margin: 55px auto 0;
  display: block;
}
/*================== TODO JAVASCRIPT IN CSS ==================*/
.todo {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #463c7b;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px 12px;
  border: 2px solid #e6b7eca1;
  transition: all 0.2s ease;
}

.todo:first-child {
  margin-top: 0;
}

.todo:last-child {
  margin-bottom: 0;
}

.todo:hover {
  background-color: #e6b7eca1;
}

.todo label {
  cursor: pointer;
  width: fit-content;
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: #eee;
}

.todo span {
  padding-left: 20px;
  position: relative;
  cursor: pointer;
}

span::before {
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  margin-left: -30px;
  border-radius: 100px;
  border: 2px solid #e6b7eca1;
}

input[type="checkbox"] {
  visibility: hidden;
}

input:checked + span {
  text-decoration: line-through;
}

.todo:hover input:checked + span::before,
input:checked + span::before {
  background: url(./image/check.svg) 50% 50% no-repeat #09bb21;
  border-color: #09bb21;
}

.todo:hover span::before {
  border-color: #eee;
}

.todo .delete-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #eee;
  font-size: 24px;
}
/*==================  FIX OVERFLOW MANY TASKS ==================*/
.todo-app__container {
  height: 300px;
  overflow: overlay;
}

.todo-app__container::-webkit-scrollbar-track {
  background: rgb(247, 247, 247);
  border-radius: 20px;
}

.todo-app__container::-webkit-scrollbar {
  width: 0;
}

.todo-app__container:hover::-webkit-scrollbar {
  width: 7px;
}

.todo-app__container::-webkit-scrollbar-thumb {
  background: #d5d5d5;
  border-radius: 20px;
}
/*================== TODO FILTERS CSS ==================*/
.todo-app__filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.todo-app__filter {
  color: #eee;
  padding: 5px 15px;
  border-radius: 100px;
  border: 2px solid #e6b7eca1;
  transition: all 0.2s ease;
  cursor: pointer;
}

.todo-app__filter.active,
.todo-app__filter:hover {
  background-color: #e6b7eca1;
}

.todo-app__delete {
  display: flex;
  color: #eee;
  padding: 7px 15px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.todo-app__delete:hover {
  border-radius: 5px;
  background-color: #e6b7eca1;
}
